body {
  background:black;
  color:#00ff00;
  font-family: Consolas, monospace;
}
input, button {
  width:260px;
  padding:10px;
  margin:10px;
  background:#111;
  border:1px solid #00ff00;
  color:#00ff00;
}
.container{
  width:400px;
  margin:auto;
  text-align:center;
  margin-top:120px;
}
button:hover {background:#00ff00;color:black;}
a {color:red;text-decoration:none;}
h1 {color:#ff0000; }

.success { color:#00ff00; font-weight:bold; }
.error { color:#ff3333; font-weight:bold; }
